In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('train_data.csv')

In [3]:
df1.head()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,2,725,72,30500.0,5,6.09,4.99,1.1200,2,0,1,0,0
1,1,739,60,25995.0,-10,4.79,4.79,1.9590,2,0,0,1,0
2,1,781,60,39000.0,-10,4.25,4.25,1.1200,2,1,0,0,0
3,2,718,72,30000.0,-10,5.39,5.44,1.3363,1,1,0,0,1
4,2,703,72,38000.0,-10,5.75,6.29,1.1338,1,0,0,1,0

In [4]:
df1.shape

(145659, 13)

In [5]:
df1.describe()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
count,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000
mean,1.928429,726.695556,56.822441,25996.819760,-6.001435,4.807957,5.623998,1.329209,2.029473,0.571815,0.226865,0.201320,0.220041
std,1.050519,44.727756,11.201037,11125.968255,7.499216,0.586018,1.545418,0.278368,0.911097,0.494817,0.418806,0.400988,0.414276
min,1.000000,594.000000,36.000000,4526.620000,-10.000000,2.990000,2.450000,1.020000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,692.000000,48.000000,17753.450000,-10.000000,4.390000,4.490000,1.110000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,726.000000,60.000000,25000.000000,-10.000000,4.790000,5.090000,1.262500,2.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,762.000000,60.000000,33000.000000,-10.000000,5.190000,6.390000,1.419400,3.000000,1.000000,0.000000,0.000000,0.000000
max,4.000000,852.000000,72.000000,100000.000000,24.000000,6.450000,15.530000,2.127000,3.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df1.isnull().sum()

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [7]:
df1.dtypes

Tier                  int64
FICO                  int64
Term                  int64
Amount              float64
Previous_Rate         int64
Competition_rate    float64
Rate                float64
Cost_Funds          float64
Partner Bin           int64
Car_Type_N            int64
Car_Type_R            int64
Car_Type_U            int64
Accept                int64
dtype: object

In [8]:
df1['Accept'].value_counts(normalize=True)

0    0.779959
1    0.220041
Name: Accept, dtype: float64

In [9]:
df1.columns

Index(['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U', 'Accept'],
      dtype='object')

In [10]:
features = ['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U']

In [11]:
target = ['Accept']

In [12]:
X_train = df1[features]
y_train = df1[target]
print(X_train.shape,y_train.shape)

(145659, 12) (145659, 1)

In [13]:
df2 = pd.read_csv('test_data.csv')

In [14]:
df2.head()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,4,656,60,19600.0,-10,5.49,7.89,1.80,1,1,0,0,0
1,2,708,60,25921.0,8,5.49,7.02,1.99,2,0,1,0,0
2,4,666,60,18542.0,-10,5.75,7.89,1.82,3,0,0,1,0
3,1,749,48,18000.0,-10,4.89,4.14,1.34,1,1,0,0,1
4,2,709,60,25000.0,-10,4.25,4.69,1.11,1,1,0,0,0

In [15]:
df2.shape

(62426, 13)

In [16]:
df2['Accept'].value_counts(normalize=True)

0    0.779963
1    0.220037
Name: Accept, dtype: float64

In [18]:
print(df2.isnull().sum())

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [19]:
X_test = df2[features]
y_test = df2[target]

In [20]:
print(X_test.shape,y_test.shape)

(62426, 12) (62426, 1)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
logreg = LogisticRegression()

In [23]:
logreg.fit(X_train,y_train)

c:\Users\All users\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\Users\All users\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
y_pred = logreg.predict(X_test)

In [25]:
print(y_pred.shape)

(62426,)

In [26]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [27]:
print(confusion_matrix(y_test,y_pred))

[[45595  3095]
 [ 8669  5067]]

In [28]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      0.94      0.89     48690
           1       0.62      0.37      0.46     13736

    accuracy                           0.81     62426
   macro avg       0.73      0.65      0.67     62426
weighted avg       0.79      0.81      0.79     62426

In [29]:
y_pred_prob = logreg.predict_proba(X_test)[:,1]

In [30]:
y_pred_prob

array([0.10446941, 0.22966342, 0.2009181 , ..., 0.01569727, 0.50735694,
       0.27582035])

In [31]:
df3 = pd.DataFrame()

In [32]:
df3['test'] = y_test

In [33]:
df3['pred'] = y_pred

In [34]:
df3['pred_proba'] = y_pred_prob

In [35]:
df3.head(20)

    test  pred  pred_proba
0      0     0    0.104469
1      0     0    0.229663
2      0     0    0.200918
3      1     0    0.252509
4      0     0    0.171504
5      0     0    0.012735
6      0     0    0.025080
7      1     1    0.621921
8      0     0    0.056890
9      0     0    0.024992
10     0     0    0.058080
11     0     0    0.128713
12     0     0    0.242091
13     0     0    0.151031
14     0     0    0.017061
15     1     0    0.307221
16     1     0    0.373279
17     0     0    0.023190
18     0     0    0.008110
19     0     1    0.899932